body {
	background-color: #343434;
}

.button { 
	color: #D6D6D6;
	border-color: #D6D6D6;
	background-color: #343434;
}

.button:hover, .button:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.button:active {
	background-color: #343434;
}